{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load i18n %}

{% block title %} {{ news.title }} {% endblock title %}
{% block content %}

<div class="container">
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <h1>{{ news.title }}</h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>Lionel Messi</a>| <span><i class="fa fa-calendar"></i>{{ news.publish_time }}</span>| <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{% get_hit_count for news %}</a>| <a href="#"><i class="fa fa-tags"></i>{{ news.category }}</a>| Izohlar: {{ comment_count }} ta </div>
            <div class="single_page_content"> <img class="img-center" src="{{ news.image.url }}" alt="">
              <p>{{ news.body }}</p>
              <!--<blockquote>Kuch adolatdadir</blockquote> -->
            </div>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <div class="card-footer text-center">
              <a href="{% url 'news_update' news.slug %}" class="btn default-btn">{% blocktrans %}Tahrirlash{% endblocktrans %}</a>
              <a href="{% url 'news_delete' news.slug %}" class="btn btn-red">{% blocktrans %}O'chirish{% endblocktrans %}</a>
              <a href="{% url 'news_create' %}" class="btn btn-green">{% blocktrans %}Yangilik qo'shish{% endblocktrans %}</a>
            </div>
            {% endif %}
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          <!--  <div class="related_post">
              <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
                <li>
                  <div class="media"> <a class="media-left" href="single_page.html"> <img src="../images/post_img1.jpg" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                  </div>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
        <br>
        {% if comment_count > 0 %}
        <h3>{{ comment_count }} {% blocktrans %}ta izoh qoldirilgan{% endblocktrans %}</h3>
        {% endif %}
        {% for comment in comments %}
            <div class="comments" style="padding: 10px">
                <p class="font-weight-bold">
                    {{ comment.user }}
                    <span class="text-muted font-weight-normal">
                        {{ comment.created_time }}
                    </span>
                </p>
                {{ comment.body | linebreaks }}
            </div>
        {% endfor %}

        <div class="col-md-8 card mb-4 mt-3">
            {% if user.is_authenticated %}
            <div class="card-body">
                <h3>{% blocktrans %}Izoh qoldirish{% endblocktrans %}</h3>
                <form method="post" style="margin-top: 1.3em">{% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary btn-large">
                        {% blocktrans %}Yuborish{% endblocktrans %}
                    </button>
                </form>
            </div>
            {% else %}
            <div class="card-body">
                <p class="text-danger">Faqatgina ro'yxatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin!</p>
                <p>Izoh qoldirish uchun
                    <a href="{% url 'user_register' %}">{% blocktrans %}Ro'yxatdan o'ting{% endblocktrans %}</a>
                    yoki <a href="{% url 'login' %}">{% blocktrans %}Saytga kiring{% endblocktrans %}</a>.
                </p>
            </div>
            {% endif %}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>{% blocktrans %} Ommabop {% endblocktrans %}</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  {% for category in categories %}
                  <li class="cat-item"><a href="#">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                      <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a> </div>
        </aside>
      </div>
    </div>
  </section>
</div>

{% endblock content %}